body {
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #ff7e5f, #feb47b, #86a8e7, #91eae4); 
    color: white;
    animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
    0% { background: linear-gradient(180deg, #ff7e5f, #feb47b); }
    50% { background: linear-gradient(180deg, #86a8e7, #91eae4); }
    100% { background: linear-gradient(180deg, #ff7e5f, #feb47b); }
}

#poem-container {
    position: relative;
    font-size: 2em;
    text-align: center;
    transition: all 0.5s ease;
    overflow: hidden; 
    max-height: 80vh; 
}

input, button {
    margin: 20px;
    padding: 10px;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.8); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input:focus, button:hover {
    background-color: rgba(255, 255, 255, 1); 
}


#image-container {
    display: flex;
    flex-wrap: wrap; /
    justify-content: space-between; /* Space between images */
    gap: 10px; /* Space between images */
    margin-top: 20px;
}

/
#image-container .image-div {
    flex: 1 1 calc(33.33% - 10px); 
    box-sizing: border-box; 
}

/
#image-container img {
    width: 100%; 
    height: auto; /
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}
